<configuration scan="true">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="ValueOnce" level="INFO"/>
    <logger name="Box" level="DEBUG"/>
    <logger name="SingleValue" level="INFO"/>
    <logger name="SubgridValue" level="INFO"/>
    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>
</configuration>
